.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ProductCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Product {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.imgProduct {
  width: 100px;
  height: 100px;
}

.Cart {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
